<h4>Просмотр поста</h4>
</br>
  <p>
    <%= @row['content']%>
    </br>
    </br>
    Опубликовано:  <%= @row['created_date']%>
    </br>
  </p> 
  </br>
  <h4>Комментарии:</h4>
  </br>

  <% @comments.each do |comment| %>
    <p>
      <%= comment['content']%>
      </br>
      </br>
      <span style="font-size: 75%; color: f0f0f0"><%= comment['created_date']%><span>
      <hr/>
    </p>
  <% end %>

  <p>
    <form action="/details/<%= @row['id'] %>" method="POST" role="form">
      <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Введите коментарий"></textarea>
      </br>
      <button type="submit" class="btn btn-primary">Опубликовать</button>
    </form>
  </p>