<h2>Недавние публикации:</h2>
</br>
<% @results.each do |post|%> 
  <p>
    <%= post['content']%>
    </br>
    </br>
    Опубликовано:  <%= post['created_date']%>
    </br>
    </br>
    <a href="/details/<%= post['id']%>">Коментарии</a>
  </p>  
  
  <hr/>
<%end%>