<h2>Добавить новый пост</h2>
<p>
  <form action="/new" method="POST" role="form">
    <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="8" placeholder="Введите текст поста :)"></textarea>
    </br>
    <button type="submit" class="btn btn-primary">Опубликовать</button>
  </form>
</p>